<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Highlight" name="Highlight Element" schema="schema/pt.iscte.pidesco.highlight.exsd"/>
   <extension
         id="tree"
         name="Outline"
         point="pt.iscte.pidesco.view">
      <view
            class="pt.iscte.pidesco.outline.internal.OutlineView"
            icon="proj.gif">
      </view>
   </extension>
   <extension
         id="refresh"
         name="Refresh"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pt.iscte.pidesco.outline.internal.RefreshTool"
            description="Refreshes the source tree"
            icon="refresh.gif"
            hasState="false"
            view="pt.iscte.pidesco.projectbrowser.tree">
      </tool>
   </extension>

</plugin>
